@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form-group.required .control-label:after {
  content: "*";
  color: red;
}
.rounded-panel {
  border: 1px solid;
  box-shadow: 2px 2px 5px #f1f1f1;
}
.hover-bg-color {
  cursor: pointer;
}
.hover-bg-color:hover {
  background-color: #8095f4 !important;
}
.selected
{
  background:#38B2AC !important;
}